<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header text-right">
        <a class="btn btn-primary" [routerLink]="'/user/add'">Agregar Usuario</a>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>Codigo</th>
              <th>Fecha</th>
              <th>Nombre</th>
              <th>Apellidos</th>
              <th>DNI</th>
              <th>Categoria</th>
              <th>Telefono</th>
              <th></th>
            </thead>
            <tbody>
              <tr *ngFor="let u of users">
                <td>{{u.uid}}</td>
                <td>{{u.date | date:'yyyy-MMM-dd' }}</td>
                <td>{{u.name}}</td>
                <td>{{u.lastname}}</td>
                <td>{{u.dni}}</td>
                <td>{{u.categoryName}}</td>
                <td>{{u.phone}}</td>
                <td style="font-size: 18px;">
                  <i [routerLink]="'/user/'+u.uid" class="nc-icon nc-single-02"></i>
                  <i class="nc-icon nc-simple-remove"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
</div>


<ng-template #adduser let-modal>
  <div class="modal-header">
      <h4 class="modal-title">Nuevo Usuario</h4>
      <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <form [formGroup]="userForm">
        <div class="row">
          <div class="col-lg-6">
            <label for="username">Usuario:</label>
            <input type="text" formControlName="username" class="form-control">
          </div>
          <div class="col-lg-6">
            <label for="category">Categoria:</label>
            <select formControlName="category" class="form-control">
              <option value="0">Seleccionar</option>
              <option *ngFor="let item of categoryList" [value]="item.id">{{ item.name }}</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <label for="password">Contraseña:</label>
            <input type="text" formControlName="password" class="form-control">
          </div>
          <div class="col-lg-6">

            <label for="passwordconfirm">Confirmar Contraseña:</label>
            <input type="text" formControlName="passwordconfirm" class="form-control">
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <label for="name">Nombre:</label>
            <input type="text" formControlName="name" class="form-control">
          </div>
          <div class="col-lg-6">

            <label for="lastname">Apellido:</label>
            <input type="text" formControlName="lastname" class="form-control">

          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <label for="dni">DNI:</label>
            <input type="number" formControlName="dni" class="form-control">
          </div>
          <div class="col-lg-6">

              <label for="phone">Telefono:</label>
              <input type="text" formControlName="phone" class="form-control">

          </div>
        </div>

        <div class="row">
          
          
        </div>

      </form>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="onSave()">Crear</button>
      <button type="button" class="btn btn-danger" (click)="modal.close()">Cerrar</button>
  </div>
</ng-template>
