
<div class="sidebar-wrapper">
  <div class="logo">
    <a href="/" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="assets/img/logo.png">
      </div>
    </a>
    <a href="/" class="simple-text logo-normal">
      Reporte
    </a>
  </div>
    <ul class="nav">
        <li  routerLinkActive="active" >
            <a [routerLink]="'/reports'">
                <i class="nc-icon nc-tile-56"></i>
                <p>Reportes</p>
            </a>
        </li>
        <li  routerLinkActive="active" >
          <a [routerLink]="'/user'">
              <i class="nc-icon nc-single-02"></i>
              <p>Usuarios</p>
          </a>
      </li>
    </ul>
</div>
