<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>Nombre</th>
              <th>Telefono</th>
              <th>DNI</th>
              <th>Lugar de Incidente</th>
              <th>Descripcion</th>
              <th>Implicados</th>
              <th>Fecha</th>
              <th></th>
            </thead>
            <tbody>
              <tr *ngFor="let report of reports">
                <td>{{ report.name }}</td>
                <td>{{ report.phone }}</td>
                <td>{{ report.name }}</td>
                <td>{{ report.placeIncident }}</td>
                <td>{{ report.description }}</td>
                <td>{{ report.aggressor }}</td>
                <td>{{ report.date }}</td>
                <td>
                  <span *ngIf="report.pending == 1">Pendiente</span> &nbsp;&nbsp;&nbsp;
                  <i class="nc-icon nc-single-copy-04"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
</div>

